register-a-food-business-service
register-a-food-business-collections-service
register-a-food-business-front-end

.env
.env-collections-service
.env-front-end
.env-registration-service

config-db/mongo-init.js